body {
  background-color: black;
  background-image: url("https://www.theplace2.ru/archive/chuck_norris/img/Chuck-Norris_9.jpg");
  font-family: verdana;
  color: white;
}

h1 {
  color: firebrick;
}

h2 {
  color: firebrick;
}

p {
  color: white;
}